body {
  background-color: orange;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.wrapper-tools {
  margin-top: 2em;
}

.out_container {
  display: flex;
}

/* .col-customize {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
} */
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0.3rem;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}

#textfield #text-input,
.hint {
  border-radius: 23px;
  margin-left: 7px;
  margin-right: 7px;
  border-radius: 23px;
  width: 100%;
  border: none;
}

.background-customize {
  background-color: rgba(0, 0, 0, 0.3);
  /* Set the transparency to 0.3 */
}

.fa-ellipsis-color,
.fa-download {
  color: white;
}

.wrapper-btn-ellipsis {
  float: right;
}

.customize-user-image {
  border-radius: 5%;
}

.card {
  --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-title-color: ;
  --bs-card-subtitle-color: ;
  --bs-card-border-width: var(--bs-border-width);
  --bs-card-border-color: none;
  --bs-card-border-radius: var(--bs-border-radius);
  --bs-card-box-shadow: ;
  --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
  --bs-card-cap-padding-y: 0.5rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
  --bs-card-cap-color: ;
  --bs-card-height: ;
  --bs-card-color: ;
  --bs-card-bg: var(--bs-body-bg);
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  color: var(--bs-body-color);
  word-wrap: break-word;
  background-color: var(--bs-card-bg);
  background-clip: border-box;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);

  background-color: none;
  background-clip: none;
  border: none;
  border-radius: none;
  --bs-card-bg: none;
}

#footer {
  margin: 5% auto;
  display: flex;
  justify-content: space-between;
  width: 45%;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

main {
  margin-top: 3em;
}

.wrapper-user {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0;
}

.container-image-user {
  position: relative;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
}

.bottom-left {
  position: absolute;
  bottom: 5px;
  left: 20px;
  color: white;
  font-size: x-small;
}

.centered {
  position: absolute;
  bottom: 7px;
  right: 20px;
  font-size: x-small;
  color: white;
}

.card .card-img-top {
  height: 84px;
  width: 84px;
}